.cardImg {
  border-radius: 8px;
}

.movieContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movieInfo {
  display: block;
  margin-left: 15px;
}

.textInfo {
  font-size: 16px;
  font-weight: normal;
}

.movieText {
  list-style: none;
  margin: 5px 0;
}

.movieLink {
  font-size: 20px;
}
