.cardList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  list-style: none;
  padding: 0;
}

.cardItem {
  margin-bottom: 10px;
  padding: 5px;

  border: 1px solid #eeeeee;
  flex-basis: calc(100% / 3 - 30px);
  max-width: 20%;
}

.cardInfo {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
  min-height: 80px;
}
